# ignore everything in the root except the "wp-content" directory.
!httpdocs
!httpdocs/wp-content/

# ignore everything in the "wp-content" directory, except:
# "mu-plugins", "plugins", "themes" directory

httpdocs/*
!httpdocs/wp-content/
httpdocs/wp-content/*
!httpdocs/wp-content/plugins


# ignore these plugins
httpdocs/wp-content/plugins/hello.php
httpdocs/wp-content/plugins/index.php

# ignore specific themes
wp-content/themes/twenty*/

# ignore node dependency directories
node_modules/

# ignore log files and databases
*.log
*.sql
*.sqlite
